body {
    background-color: #DBE2DD;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-image {
    max-width: 100%;
    height: auto;
}

.card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
}

.action-btn {
    background-color: #00969E;
    color: white;
    border-radius: 50%;
    border: #00969E;
    font-size: 25px;
    width: 40px;
    height: 40px;
    transition: background-color 1s ease;
}

.card-description {
    padding: 0 10px 10px 10px;
    margin: 0px;
    background-color: white;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease;
}

.show-description {
    overflow: visible;
    opacity: 1;
    max-height: fit-content;
}

.focused {
    background-color: red;
    transition: background-color 1s ease;
}